/* Dashboard styles */
[data-style-id="style-0-1765940093753"] { transform: translate(-8px, 0px) rotate(0deg) skewX(0deg) skewY(0deg) scale(1, 1) scale(1, 1) !important; }

[data-style-id="style-1-1765940093753"] { transform: translate(0px, -50%) rotate(0deg) skewX(0deg) skewY(0deg) scale(1, 1) scale(1, 1) !important; }

[data-style-id="style-2-1765940093753"] { transform: translate(0px, 10px) scale(1, 1) !important; }

[data-style-id="style-3-1765940093753"] { background-image: url('https://placehold.co/100') !important; }

/* Editor styles */
[data-style-id="style-0-1765953848771"] { transform: translate(-50%, -50%) rotate(0deg) skewX(0deg) skewY(0deg) scale(1, 1) scale(1, 1) !important; }

[data-style-id="style-1-1765953848772"] { background-image: linear-gradient(rgb(247, 244, 237) 0%, color(srgb 0.95931 0.948024 0.92169) 100%) !important; }

[data-style-id="style-2-1765953848772"] { transform: translate(0px, 50%) rotate(0deg) skewX(0deg) skewY(0deg) scale(1, 1) scale(1, 1) !important; }

[data-style-id="style-3-1765953848772"] { background-image: linear-gradient(to left, rgb(252, 251, 248), rgba(252, 251, 248, 0)) !important; }

[data-style-id="style-4-1765953848772"] { background-image: linear-gradient(to right, rgb(247, 244, 237), rgba(0, 0, 0, 0)) !important; }

[data-style-id="style-5-1765953848772"] { transform: translate(0px, 10px) scale(1, 1) !important; }

[data-style-id="style-6-1765953848772"] { background-image: url('https://placehold.co/100') !important; }
